
html {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #271325;
  background: #FFF0BA;
}
*{
  /*outline: 1px solid rgba(0,0,0,.05);*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  color: #ef4044;
}

h1 {
  font-size: 1.5rem;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right .Component{
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

.flex-row .Component{
  display: block;
}
.flex-col .Component{
  display: flex;
  flex-flow: column;
}

.justify-start .Component{
  justify-content: flex-start;
}
.justify-center .Component{
  justify-content: center;
}
.justify-end .Component{
  justify-content: flex-end;
}
.justify-between .Component{
  justify-content: justify;
}
.justify-around .Component{
  justify-content: justify;
}

.align-start .Component{
  align-items: flex-start;
}
.align-center .Component{
  align-items: center;
}
.align-end .Component{
  align-items: flex-end;
}
.align-between .Component{
  align-items: justify;
}
.align-around .Component{
  align-items: justify;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #271325;
  color: #FFF0BA;
  padding: 4vh 4vw 2vh;
  z-index: 30;
}

.Header select {
  position: relative;
  float: right;
  top: -4px;
  background: none;
  color: #FFF0BA;
  width: 170px;
  font-size: 1.1rem;
  color: #FFF0BA;
  border-color: #FFF0BA;
}

.Header h3 {
  float: left;
}

.Composition {
  margin-top: 8vh;
}

.Section {
  width: 100%;
  padding: 4vw 4vw;
  position: relative;
}

.Section:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  margin: 4vw 0 0;
  border-bottom: 1px solid;
  opacity: .4;
}

.Class-list {
  position: relative;
  background: #FFF0BA;
  color: #222;
  padding: 0;
  z-index: 10;
  display: inline-block;
  // visibility: hidden;
  width: 36px;
  font-size: .9em;
  border: none;
  position: absolute;
  bottom: 4vw;
  right: 4vw;
  text-align: center;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #271325;
  outline: none;
  opacity: .4;
}

.Class-list:after {
  content: '...';
}

.Class-list li {
  display: none;
  margin-right: 3px;
  background: #222;
  border-radius: 3px;
  padding: 5px 8px;
  color: #FFF0BA;
}

.Class-list:focus {
  opacity: 1;
  width: auto;
  border-radius: 0%;
  background: transparent;
  border: none;
}

.Class-list:focus:after {
  content: '';
}

.Class-list:focus li {
  display: inline-block;
}

.Group {
  padding: 4vw;
  margin: 0 0;
  position: relative;
}

.Group--graphical {

}

.Group--textual {
  z-index: 10;
}

.Group--meta {
  z-index: 10;
}

.Headline {
  padding: 5vh;
}

.Headline h1 {

}

.Attribution {

}

.Attribution .Author {

}

.Attribution .Source {

}

.Cover {
  overflow: hidden;
  max-height: 90vh;
}

.Cover img {
  position: relative;
  width: 101%;
}

.Section--bg-light {
  background: #FFF0BA;
}

.Section--bg-light .Group--graphical{
  opacity: .2;
}

.Section--bg-light .Group:not(.Group--graphical){
  background: transparent !important;
  color: #222;
}

.Section--bg-dark {
  background: #271325;
}

.Section--bg-dark .Group--graphical{
  opacity: .2;
}

.Section--bg-dark .Group:not(.Group--graphical){
  background: transparent !important;
  color: #FFF0BA;
}

.Section--bg-fullscreen {
  width: 100%;
  height: 80vh;
}

.Section--bg-fullscreen .Component {
  width: 100%;
  height: 100%;
  padding: 0;
}

.Section--bg-fullscreen .Group:not(.Group--graphical){
  padding: 2vh 2vw;
  background: #FFF0BA;
  width: auto;
  min-width: auto;

  /*width: 33%;*/
}

.Section--bg-fullscreen .Group--graphical{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  left: 0;
  top: 0;
  background: transparent;
}

.Section--bg-fullscreen .Cover{
  position: relative;
  width: 100%;
  height: 100%;
}

.Section--bg-fullscreen .Cover img{
  min-height: 100%;
  min-width: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

/* RAMS DESIGN SYSTEM */
.Rams {

}
.Rams .Headline span,
.Rams .Attribution span{
  -webkit-box-decoration-break: clone;
}
.Rams .Headline {
  padding: 0;
}


/* BASS DESIGN SYSTEM */
.Bass {

}
.Bass section {

}
.Bass .Attribution {
  color: #FFF0BA;
}
.Bass .Group {
  background: transparent !important;
}
.Bass .Headline span,
.Bass .Attribution span{
  padding: .2rem .4rem;
  -webkit-box-decoration-break: clone;
  line-height: 1.25;
  background: #271325;
  color: #FFF0BA;
}
.Bass .Headline {
  padding: 0;
}

.Bass .Section--bg-dark .Headline span,
.Bass .Section--bg-dark .Attribution span{
  background: #FFF0BA;
  color: #271325;
}

/* VIGNELLI DESIGN SYSTEM */
.Vignelli section {

}

.Vignelli section {

}

.Vignelli .Headline{
  border-top: .8vh solid;
  border-bottom: .8vh solid;
  padding: 1rem 0 1.5rem;
}

.Vignelli .Attribution {
  border-top: .8vh solid;
  padding: 1rem 0 1.5rem;
}

.Vignelli .flex-row.align-end .Attribution {
  border-top: none;
  border-bottom: .8vh solid;
}

/* Escher DESIGN SYSTEM */

.Escher{

}

.Escher section {

}

.Escher .Group {
  border: .5vw solid;
  padding: 1vw;
}

.Escher .Group {
  margin-left: -.5vw;
  margin-top: -.5vw;
  // position: relative;
}

.Escher .Group:not(.Group--graphical):after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: .5vw;
  top: .5vw;
  border: .5vw solid #E4D4A7;
}

.Escher .Headline{
  padding: 2vw;
  width: 100%;
}

.Escher .Attribution {
  padding: 2vw;
  width: 100%;
}
.Escher .Cover {

}
.Escher .Cover img{

}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 2rem;
  }

  .title-small h1 span{
    font-size: 1.5rem;
  }
  .title-large h1 span{
    font-size: 3rem;
  }
  .title-huge h1 span{
    font-size: 5rem;
    line-height: 1.25 !important;
  }
  .title-giant h1 span{
    font-size: 8rem;
    line-height: 1.25 !important;
  }
  .title-giant .Group--textual,
  .title-huge .Group--textual {
    max-width: 100% !important;
  }

  .flex-row .Component{
    display: flex;
  }
  .Section {
    padding: 4vw 10vw;
  }

  .Section .Component {
    display: flex;
  }

  .Section--bg-fullscreen .Group:not(.Group--graphical){
    max-width: 66.666%;
  }
  .Group {
    width: 50%;
  }
  .Group {
    padding: 0 2vw;
  }
  section.Section--components-2 {

  }
  section.Section--components-2 .Component,
  section.Section--components-3 .Component,
  section.Section--components-4 .Component,
  section.Section--components-5 .Component,
  section.Section--components-6 .Component  {
    display: inline-block;
  }
  section.Section--components-2 .Component,
  section.Section--components-3 .Component,
  section.Section--components-4 .Component,
  section.Section--components-5 .Component,
  section.Section--components-6 .Component  {
    width: 50%;
  }
  section.Section--components-2 .Component .Group,
  section.Section--components-3 .Component .Group,
  section.Section--components-4 .Component .Group,
  section.Section--components-5 .Component .Group,
  section.Section--components-6 .Component .Group  {
    padding: 1vw;
    width: 100%;
  }

  section.Section--components-3 {

  }
  section.Section--components-3 .Component  {
    width: 33%;
  }
  section.Section--components-4 .Component  {
    width: 25%;
  }
  section.Section--components-5 .Component  {
    width: 20%;
  }
  section.Section--components-6 .Component  {
    width: 16.6666%;
  }
  section.Section--components-3 h1  {
    font-size: 1.75rem;
  }
  section.Section--components-4 h1  {
    font-size: 1.5rem;
  }
  section.Section--components-5 h1  {
    font-size: 1.25rem;
  }
  section.Section--components-6 h1  {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  section .Component {
    padding: 0 0;
  }
  .Group {
    min-width: 33.3333%;
    padding: 0 1vw;
  }
  .Group .Meta {
    min-width: 16.666%;
  }
}
