
html {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #271325;
  background: #FFF0BA;
}
*, *:before, *:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // outline: 1px solid #645244;
}
.show-outline *, .show-outline *:before, .show-outline *:after {
  outline: 1px solid rgba(9,186,178,.1);
}
a{
  color: inherit;
}
a:hover{
  opacity: .7;
  transition: .2s;
}

h1 {
  font-size: 1.5rem;
  word-wrap: break-word;
  transition: .6s ease-in-out;
  font-weight: 700;
  line-height: 1.25;
}
h4 {
  line-height: 1.5;
}
h5 {
  font-weight: 500;
}
p {
  line-height: 1.4;
  margin: 1em 0;
  font-size: 1.1rem;
  text-align: justify;
}
button{
  border: none;
  outline: none;
  padding: 12px 28px;
  text-transform: uppercase;
  background: #271325;
  color: #FFF0BA;
  border-radius: 3px;
  letter-spacing: .1rem;
  margin: 2rem 0 1.5rem;
  font-weight: 900;
  font-size: .8rem;
}
.Cover {
  overflow: hidden;
  // transition: .6s ease-in-out;
}

.Cover img {
  position: relative;
  width: 101%;
  transition: .6s ease-in-out;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #271325;
  color: #FFF0BA;
  padding: 30px 4vw 10px;
  height: 70px;
  z-index: 40;
}

.Header select {
  position: relative;
  float: right;
  top: -4px;
  background: none;
  color: #FFF0BA;
  width: 140px;
  font-size: 1.1rem;
  color: #FFF0BA;
  border-color: #FFF0BA;
}

.Header h3 {
  font-size: 1.06em;
}

.Header .Shuffle {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
}
.Header .Shuffle img{
  width: 30px;
}
.Header .Shuffle:hover img{
  opacity: .5;
  transform: skew(360deg);
  transition: .2s;
}
.Header .Shuffle:active img{
  opacity: 1;
}

.Header h3 {
  float: left;
}

.Headline {

}

.Headline h1 {

}

.Headline h1::first-line {
  // line-height: 0;
}

.Attribution .Author {

}

.Attribution .Source {

}

.Group{
  padding: 1vw;
  transition: .6s ease-in-out;
  max-width: 960px;
  position: relative;
}

.Group--graphical {

}

.Group--graphical .Cover {
  max-height: 90vh;
}

.Group:not(.Group--graphical), {
  z-index: 10;
}

.Group--textual .Attribution {
  margin: 0 0 1em 0;
}

.Group--links a{
  text-decoration: none;
}
.Group--links {
  padding: 3em 0 0 0;
  width: 100% !important;
  max-width: none;
}
.Group--links .Link {
  flex: 1;
  display: block;
  font-weight: 200;
  // font-size: 5em;
  transition: .3s ease-out;
}

.Nav--hamburger{
  transition: .4s ease-out;
  height: 62px;
  overflow: hidden;
  padding: 0;
}
.Section.text-align-left .Nav--hamburger .Group--links .Icon{
  margin-left: 4vw;
}
.Section.text-align-center .Nav--hamburger .Group--links .Icon{
  left: 50%;
  transform: translate3d(-50%,0,0);
}
.Section.text-align-right .Nav--hamburger .Group--links .Icon{
  margin-right: 4vw;
  right: 0;
}
.Nav--hamburger .Group--links .Link{
  opacity: 0;
  margin: 0 4vw 1rem;
}
.Nav--hamburger .Group--links .Icon {
  opacity: 1;
  position: absolute;
  text-align: center;
  z-index: 2;
  font-size: 1.25em;
  top: 16px;
}

.Nav--hamburger.Active .Group--links {

}

.Nav--hamburger.Active .Group--links .Link {
  opacity: 1;
  transform: translate3d(0,.5em,0);
}

.Nav--hamburger.Active {
  width: 100vw;
  height: 100vh;
}
.Section.Nav{
  transition: .3s ease-out;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #93806F;
}
.Section.Nav.Hidden {
  transition: .3s ease-in;
  transform: translate3d(0,-100%,0);
}

.Component {
  flex-wrap: wrap;
}

.Section {
  width: 100%;
  padding: 4vw;
  position: relative;
  display: block;
  align-items: stretch;
  transition: .6s ease-in-out;
}

.System {
  margin-top: 70px;
}

.Section.Footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #93806F;
  // padding: 4vw;
}

.Section.Footer .Group {
  margin: 0 2vw 0 0;
  padding: 0 !important;
}
.Section.Footer .Component {
  flex: 1;
}
.Section.Footer .Component:first-of-type {
  flex: 2;
  padding-right: 2vw;
}
.Section.Footer .Component:not(:last-of-type):after {
  content: "";
  z-index: 11;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid;
  opacity: .2;
}
.Section.Footer .Link {
  margin: 0 3vw 1.5rem;
}
.Section.Footer .Link a{
  font-weight: 200;
}


/* Section Height
**************************/

.section-height-fullscreen {
  width: 100vw;
}

.Section--components-1.section-height-fullscreen:not(.wo-bgcover),
.Section--components-2.section-height-fullscreen:not(.wo-bgcover),
.Section--components-3.section-height-fullscreen:not(.wo-bgcover) {
  // width: 100vw;
  // height: 80vh;
  // max-height: 800px;
  min-height: 80vh;
  // overflow: hidden;
}

/* Text Alignment
**************************/

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right:not(.align-end) .Component{
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}


/* Component Alignment
**************************/

.justify-start .Component{
  justify-content: flex-start;
}
.justify-center.Section--components-1 .Component{
  justify-content: center;
}
.justify-end .Component{
  justify-content: flex-end;
}
.justify-between .Component{
  justify-content: space-between;
}
.justify-around.Section--components-1 .Component{
  justify-content: space-around;
}

.align-start .Component{
  align-items: flex-start;
}
.align-center .Component{
  align-items: center;
}
.align-end .Component{
  align-items: flex-end;
}
.align-stretch .Component{
  align-items: stretch;
}
.align-baseline .Component{
  align-items: baseline;
}

/* Section background image
**************************/

.wo-bgcover .Bg,
.Section:not(.Section--components-1).and-bgcover .Bg {
  display: none;
}
.w-bgcover .Bg{
  display: block;
}

.wo-bgcover .Group--graphical {
  display: block;
}
.w-bgcover .Group--graphical{
  display: none;
}
.w-bgcover .Group,
.and-bgcover .Group {
  padding: 2vh 2vw;
}
.w-bgcover .Group,
.and-bgcover .Group:not(.Group--graphical){
  background: #FFF0BA;
  width: auto;
  min-width: auto;
  opacity: .9;
}

.Section--components-1.w-bgcover,
.Section--components-1.and-bgcover {
  min-height: 400px;
  padding: 0 !important;
}
.Section--components-1.w-bgcover .Component,
.Section--components-2.w-bgcover .Component,
.Section--components-3.w-bgcover .Component,
.Section--components-1.and-bgcover .Component,
.Section--components-2.and-bgcover .Component,
.Section--components-3.and-bgcover .Component    {
  padding: 4vw !important;
}
.Section--components-4.w-bgcover .Component,
.Section--components-5.w-bgcover .Component,
.Section--components-6.w-bgcover .Component   {
  padding: 2vw !important;
}

.Section--components-1.and-bgcover .Bg {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  transform: translate3d(0,0,0) !important;
}
.Section--components-1.and-bgcover .Bg .Cover {
  opacity: .1 !important;
}
.Section--components-1.and-bgcover .Bg .Cover img {
  object-fit: cover !important;
  // -webkit-filter: blur(10px);
  width: 104%;
  height: 104%;
  top: -9px;
}

.Section--components-1.w-bgcover .Group{
  max-width: 66.666%;
}

.Bg {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .6s ease-in-out;
}
.Bg .Cover{
  position: relative;
  width: 100%;
  height: 100%;
}
.Bg .Cover img{
  width: 100%;
  height: 100%;
}

/* Section background image padding
***********************************/

.bgcover-padding-none.Section--components-1:not(.bgcover-size-third):not(.bgcover-size-quarter) .Bg{
  padding: 0 !important;
}
.bgcover-padding-xsmall.Section--components-1:not(.bgcover-size-third):not(.bgcover-size-quarter) .Bg{
  padding: .5vw !important;
}
.bgcover-padding-small.Section--components-1:not(.bgcover-size-third):not(.bgcover-size-quarter) .Bg{
  padding: 1vw !important;
}
.bgcover-padding-medium.Section--components-1:not(.bgcover-size-third):not(.bgcover-size-quarter) .Bg{
  padding: 2vw !important;
}
.bgcover-padding-large.Section--components-1:not(.bgcover-size-third):not(.bgcover-size-quarter) .Bg{
  padding: 3vw !important;
}

/* Section background image size
*********************************/

.bgcover-size-full .Bg {
  width: 100%;
  height: 100%;
}
.Section--components-1.bgcover-size-half .Bg,
.Section--components-2.bgcover-size-half .Bg,
.Section--components-3.bgcover-size-half .Bg {
  width: 50%;
  height: 100%;
}
.Section--components-1.bgcover-size-third .Bg,
.Section--components-2.bgcover-size-third .Bg,
.Section--components-3.bgcover-size-third .Bg {
  width: 33.333%;
  height: 50%;
}
.Section--components-1.bgcover-size-quarter .Bg,
.Section--components-2.bgcover-size-quarter .Bg{
  width: 25%;
  height: 33.333%;
}

.bgcover-fit-cover .Bg img {
  object-fit: cover;
  object-position: 60% 50%;
}
.bgcover-fit-contain .Bg img {
  object-fit: contain;
}
.bgcover-align-top .Bg {
  top: 0;
  bottom: auto;
}
.bgcover-align-center .Bg {
  top: 50%;
  transform: translate3d(0,-50%,0);
}
.bgcover-align-bottom .Bg {
  top: auto;
  bottom: 0;
}
.bgcover-align-stretch .Bg {
  top: 0;
  bottom: 0;
  height: 100% !important;
}

.bgcover-justify-left .Bg {
  left: 0;
}
.bgcover-justify-center .Bg {
  right: auto;
  left: 50%;
  transform: translate3d(-50%,0,0);
}
.bgcover-justify-right .Bg {
  right: 0;
  left: auto;
}
.bgcover-justify-stretch .Bg {
  right: 0;
  left: 0;
  width: 100% !important;
}

.bgcover-justify-center.bgcover-align-center .Bg {
  transform: translate3d(-50%,-50%,0);
}



/* Section background color
**************************/

.bg-color-light {
  background: #FFF0BA;
  color: #271325;
}
.bg-color-light .Bg .Cover{
  opacity: .3;
}
.bg-color-light .Group{
  background: transparent !important;
}
.bg-color-dark {
  background: #36222F;
  color: #FFF0BA;
}
.bg-color-dark .Bg .Cover{
  opacity: .3;
}
.bg-color-dark .Group{
  background: transparent !important;
}
.bg-color-neutral {
  background: #93806F;
  color: #FFF0BA;
}
.bg-color-neutral .Bg .Cover{
  opacity: .3;
}
.bg-color-neutral .Group{
  background: transparent !important;
}
.bg-color-pattern{
  background: url(../../images/pattern.jpg);
  color: #271325;
}
.bg-color-pattern .Bg .Cover{
  opacity: .3;
}
.bg-color-pattern .Group{
  background: transparent !important;
}
.bg-color-none {
  background: #FFF0BA;
  color: #271325;
}
.bg-color-none .Group{
  background: #FFF0BA;
}

.bg-color-dark button{
  background: #FFF0BA;
  color: #271325;
}



/* RAMS DESIGN SYSTEM
**************************/

.Rams {

}
.Rams .Headline span,
.Rams .Attribution span{
  -webkit-box-decoration-break: clone;
}
.Rams .Headline {
  padding: 0;
}

.Jones .Headline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  border-top: 8px solid;
  border-right: 8px solid;
  border-left: 8px solid;
  left: 0;
  top: -40px;
}
.Jones .Headline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  border-bottom: 8px solid;
  border-right: 8px solid;
  border-left: 8px solid;
  left: 0;
  bottom: -40px;
}


/* BASS DESIGN SYSTEM */
.Bass {

}
.Bass section {

}
.Bass .Group {
  background: transparent !important;
}
.Bass .Headline span,
.Bass .Attribution span{
  padding: .2rem .4rem;
  -webkit-box-decoration-break: clone;
  line-height: 1.4;
  background: #271325;
  color: #FFF0BA;
}
.Bass .Attribution {
  color: #FFF0BA;
}
.Bass .Headline {

}

.Bass .bg-color-dark .Headline span,
.Bass .bg-color-dark .Attribution span,
.Bass .bg-color-neutral .Headline span,
.Bass .bg-color-neutral .Attribution span{
  background: #FFF0BA;
  color: #271325;
}
.Bass .w-bgcover.bg-color-none p {
  background: #FFF0BA;
  padding: 1.5vw;
}


/* VIGNELLI DESIGN SYSTEM
**************************/

.Vignelli section {

}

.Vignelli section {

}

.Vignelli .flex-row .Group:last-of-type div:last-of-type,
.Vignelli .flex-col .Group:last-of-type div:last-of-type {
  border-bottom: calc(4px + .5vh) solid;
}

.Vignelli .Headline,
.Vignelli .Paragraph,
.Vignelli .Attribution {
  border-top: calc(4px + .5vh) solid;
  padding: 1rem 0 1.5rem;
}

.Vignelli .flex-row.align-end .Attribution:only-of-type,
.Vignelli .flex-row-reverse.align-end .Attribution:only-of-type {
  border-top: none;
  border-bottom: calc(4px + .5vh) solid;
}


/* Brockmann DESIGN SYSTEM
**************************/

.Brockmann section {

}

.Brockmann section {

}

.Brockmann .wo-bgcover .Component:not(:last-of-type):after,
.Brockmann .and-bgcover .Component:not(:last-of-type):after {
  content: "";
  z-index: 11;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid;
  opacity: .2;
}

.Brockmann .Headline span{
  border-bottom: .125em solid;
  line-height: 1.5;
  padding: 0;
}

.Brockmann .Attribution span{
  border-bottom: .125em solid;
  padding: 0;
}

@media screen and (min-width: 960px) {

  /* Section Desktop Resets
  **************************/

  .Section--components-4 p,
  .Section--components-5 p,
  .Section--components-6 p {
    text-align: inherit;
  }
  .Section:not(.Section--components-1) .Component .Bg  {
    padding: 8px 0 8px 8px;
  }
  .Section--components-1 .Group{
    width: 50%;
  }
  .Section--components-1.flex-row .Group,
  .Section--components-1.flex-row-reverse .Group  {
    flex: 1;
  }
  .Section:not(.Section--components-1):not(.Section--components-2) .Component .Group {
    padding: 1vw;
    width: 100%;
  }
  .Section--components-3.w-bgcover.bg-color-none .Component .Group,
  .Section--components-4.w-bgcover.bg-color-none .Component .Group {
    padding: 2vw;
  }
  .Section--components-5.w-bgcover.bg-color-none .Component .Group,
  .Section--components-6.w-bgcover.bg-color-none .Component .Group {
    padding: 1vw;
  }
  .Section:not(.Section--components-1).flex-row .Component  {
    flex-flow: column;
  }
  .Section:not(.Section--components-1).flex-row-reverse .Component  {
    flex-flow: column-reverse;
  }
  .Section .Component {
    display: flex;
    position: relative;
    width: 100%;
  }
  .Section {
    padding: 0;
    display: flex;
  }

  // .Section:not(.Section--components-1) .Component:last-of-type .Bg  {
  //   padding-right: 8px;
  // }


  /* Section w/Multiple Components Width
  **************************************/

  .Section.Section--components-2 .Component  {
    width: 50%;
  }
  .Section.Section--components-3 .Component  {
    width: 33.333%;
  }
  .Section.Section--components-4 .Component  {
    width: 25%;
  }
  .Section.Section--components-5 .Component  {
    width: 20%;
  }
  .Section.Section--components-6 .Component  {
    width: 16.6666%;
  }

  /* Component Padding
  **************************/

  .Section.component-h-padding-none .Component{
    padding-left: 0;
    padding-right: 0;
  }
  .Section.component-h-padding-xxsmall .Component{
    padding-left: .25vw;
    padding-right: .25vw;
  }
  .Section.component-h-padding-xsmall .Component{
    padding-left: .5vw;
    padding-right: .5vw;
  }
  .Section.component-h-padding-small .Component{
    padding-left: .75vw;
    padding-right: .75vw;
  }
  .Section.component-h-padding-medium .Component{
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .Section.component-h-padding-large .Component{
    padding-left: 1.25vw;
    padding-right: 1.25vw;
  }
  .Section.component-h-padding-xlarge .Component{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  .Section.component-v-padding-none .Component{
    padding-top: 0;
    padding-bottom: 0;
  }
  .Section.component-v-padding-xsmall .Component{
    padding-top: .25vw;
    padding-bottom: .25vw;
  }
  .Section.component-v-padding-small .Component{
    padding-top: .5vw;
    padding-bottom: .5vw;
  }
  .Section.component-v-padding-medium .Component{
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  .Section.component-v-padding-large .Component{
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .Section.component-v-padding-xlarge .Component{
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  /* Component Flexboxing
  **************************/

  .flex-row .Component{
    display: flex;
    flex-flow: row;
  }

  .flex-row-reverse .Component{
    display: flex;
    flex-flow: row-reverse;
  }
  .flex-col-reverse .Component{
    display: flex;
    flex-flow: column-reverse;
  }

  .flex-col .Component{
    display: flex;
    flex-flow: column;
  }

  /* Title Sizing
  **************************/

  .Section.Section--components-3 h1  {
    font-size: 1.75rem;
  }
  .Section.Section--components-4 h1  {
    font-size: 1.5rem !important;
  }
  .Section.Section--components-5 h1  {
    font-size: 1.25rem !important;
  }
  .Section.Section--components-6 h1  {
    font-size: 1rem !important;
  }

  .title-size-xxsmall h1,
  .title-size-xxsmall h1{
    font-size: 1rem;
  }
  .title-size-xsmall h1{
    font-size: 1.25rem;
  }
  .title-size-small h1{
    font-size: 1.5rem;
  }
  .Section.Section--components-3 h1,
  .Section.Section--components-4 h1,
  .Section.Section--components-5 h1,
  .Section.Section--components-6 h1 {
    font-size: 2rem;
  }

  .Section.Section--components-1.title-size-large h1,
  .Section.Section--components-2.flex-col.title-size-large h1{
    font-size: 3rem;
  }
  .Section.Section--components-1.title-size-xlarge:not(.flex-row):not(.flex-row-reverse) h1 {
    font-size: 5rem;
    line-height: 1.25 !important;
  }
  .Section.Section--components-1.title-size-xxlarge:not(.flex-row):not(.flex-row-reverse) h1,{
    font-size: 8rem;
    line-height: 1.25 !important;
  }
  // .Section.Section--components-1.title-size-xlarge .Group--textual,
  // .Section.Section--components-1.title-size-xxlarge .Group--textual {
  //   max-width: 960px !important;
  // }


  /* Section Padding
  **************************/

  .section-h-padding-none .Section{
    padding-left: 0;
    padding-right: 0;
  }
  .section-h-padding-xxsmall .Section{
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .section-h-padding-xsmall .Section{
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .section-h-padding-small .Section{
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .section-h-padding-medium .Section{
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .section-h-padding-large .Section{
    padding-left: 12vw;
    padding-right: 12vw;
  }
  .section-h-padding-xlarge .Section{
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .section-v-padding-none .Section{
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-v-padding-xsmall .Section{
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .section-v-padding-small .Section{
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  .section-v-padding-medium .Section{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .section-v-padding-large .Section{
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
  .section-v-padding-xlarge .Section{
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}




/* RULES SCRATCH
if element width less than 500,
  no justified text
  full width
  small title (unless title-short)

right align text only
  if the textual group it's in is justified right

Textual groups should not be full width unless it's a
if title-xxlarge and title-short
  textual headline group full width

minimal > decorated
text-size contrast
color contrast



*/



/* DEMO UI */
.Class-list {
  position: absolute;
  background: #FFF0BA;
  color: #271325;
  padding: 0;
  z-index: 10;
  display: inline-block;
  width: 36px;
  font-size: .9em;
  bottom: 4vw;
  right: 4vw;
  text-align: left;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #271325;
  outline: none;
  opacity: .4;
  z-index: 30;
}

.Class-list:after {
  content: '...';
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.Class-list li {
  display: none;
  background: #271325;
  border-radius: 3px;
  padding: 5px 8px;
  color: #FFF0BA;
}

.Class-list:focus {
  opacity: 1;
  width: auto;
  border-radius: 0%;
  background: transparent;
  border: none;
  height: auto;
  z-index: 50;
}

.Class-list:focus:after {
  content: '';
}

.Class-list:focus li {
  display: block;
  border: 1px solid #867466;
  margin-top: -1px;
}
